<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        @*   <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" /> *@

        <!-- Kullanıcı Authorize oldu mu-->
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">

            <Authorizing>
                <text>
                    Giriş  Yapılıyor!!!!
                </text>
            </Authorizing>
            <NotAuthorized>
                <text>
                    Giriş Yapılmadı. Sanırım yetkiniz yok!!!!!
                </text>
            </NotAuthorized>
        </AuthorizeRouteView>
        <!-- Kullanıcı Authorize oldu mu-->
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
<ConfirmModal /> @* Pop Up için *@
