@page "/userlist"

@inherits UserListOperation

<div class="d-flex justify-content-between align-items-center mb-3">
    <h3>Kullanıcı Listesi</h3>
    <button class="btn btn-primary" @onclick="goToCreateUser">
        <i class="bi bi-plus-circle"></i> Yeni Kullanıcı Ekle
    </button>
</div>

@if (userList != null)
{
    <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">İsim Soyisim</th>
                <th scope="col">E Posta</th>
                <th scope="col">Tarihi</th>
                <th scope="col">Durum</th>
                <th scope="col">İşlem</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in userList)
            {
                <tr>
                    <td>@x.Id</td>
                    <td>@x.FullName</td>
                    <td>@x.EMailAddress</td>
                    <td>@x.CreateDate</td>
                    <td>
                        @if (x.IsActive)
                        {
                            <span class="badge bg-success">Aktif</span>
                        }
                        else
                        {
                            <span class="badge bg-secondary">Pasif</span>
                        }
                    </td>
                    <td>
                        <button class="btn btn-warning btn-sm me-2" @onclick="@(() => goToUpdatePage(x.Id))">
                            <i class="bi bi-pencil"></i> Güncelle
                        </button>

                        <button class="btn btn-danger btn-sm" @onclick="@(() => goToDeleteUser(x.Id))">
                            <i class="bi bi-trash"></i> Sil
                        </button>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}


